body {
    font-family: sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100px;
}

.green-button {
    background-color: transparent;
    border: 2px solid green;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.green-button:hover {
    background-color: green;
    color: black;
}

.red-button {
    background-color: transparent;
    border: 2px solid red;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.red-button:hover {
    background-color: red;
    color: black;
}

img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.error {
    color: red;
    font-weight: bold;
}

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 0.8em;
    color: #777;
}
